/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header{
    background-image: url('../img/jumbo.png');
    background-size: 100%;
    height: auto;
    width: auto;
}

.larg-70{
    display: flex;
    width: 70%;
    justify-content: space-between;
}

nav{
    margin-left: 15%;
}

#hor-list > li{
    display: inline-block;
    list-style-type: none;
    color: white;
    padding-right: 10px;
}

.stretto{
    width: 20%;
}

.largo{
    width: 40%;
    text-align: center;
}

#testo-fine{
    text-align: end;
}

#color-wh{
    color: white;
    font-size: 20px;
    text-align: center;
    height: 300px;
    width: 30%;
    margin-left: 35%;
    margin-top: 15px;
    margin-bottom: 15px;
}

h1{
    padding: 20px;
}

/* MAIN */
.dim-1{
    height: 300px;
    width: 60%;
    margin-left: 20%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.dim-2{
    height: 600px;
    width: 60%;
    margin-left: 20%;
    justify-content: center;
}

.back-white{
    background-color: white;
}

.back-grey{
    background-color: lightgrey;
}

.dim-65{
    height: 100%;
    width: 60%;
    display: flex;
    display: inline-block;
}

.img-body{
    width: 70%;
    height: 70%;
}
.dim-35{
    height: 50%;
    width: 30%;
    display: flex;
    display: inline-block;
}

/* FOOTER */

footer{
    background-color: rgb(14, 36, 36);
    text-align: start;
    padding-left: 15%;
    padding-right: 15%;
    color: white;
}

.text-violet{
    color: rgb(125, 95, 235);
}

footer > section > div{
    display: inline-block;
    padding: 30px;
}

.vert-list{
    list-style-type: none;
}
.button{
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(125, 95, 235);
}